// ======= UNIVERSAL ================ 

@import url('https://fonts.googleapis.com/css?family=Asap');
@import url('https://fonts.googleapis.com/css?family=Frijole');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


//======================================
//      MIXINS
//======================================
    @mixin continues() {
        
        background: #e7e3cd; 
        background: -moz-linear-gradient(top, #e7e3cd 0%, #e0dcc0 40%, #d5d0ad 100%); 
        background: -webkit-linear-gradient(top, #e7e3cd 0%,#e0dcc0 40%,#d5d0ad 100%); 
        background: linear-gradient(to bottom, #e7e3cd 0%,#e0dcc0 40%,#d5d0ad 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e3cd', endColorstr='#d5d0ad',GradientType=0 ); 
        

        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: contain;
        // display: inline-block;
        // height: 2em;
        // margin-right: 2px;
        // width: 2em;
        // background-image: url(../img/continues.gif);
    }
    @mixin today() {
        background: #fdc8bf; /* Old browsers */
        background: -moz-linear-gradient(top, #fdc8bf 0%, #fbd3cd 65%, #fbd3cd 65%, #fabfb8 87%, #fabfb8 87%, #fcbcb4 88%, #fcbcb4 92%, #fcbcb4 92%, #f8c1bc 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #fdc8bf 0%,#fbd3cd 65%,#fbd3cd 65%,#fabfb8 87%,#fabfb8 87%,#fcbcb4 88%,#fcbcb4 92%,#fcbcb4 92%,#f8c1bc 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #fdc8bf 0%,#fbd3cd 65%,#fbd3cd 65%,#fabfb8 87%,#fabfb8 87%,#fcbcb4 88%,#fcbcb4 92%,#fcbcb4 92%,#f8c1bc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc8bf', endColorstr='#f8c1bc',GradientType=0 ); /* IE6-9 */
    }

    @mixin begin() {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fac695+0,f5ab66+47,ef8d31+100;Orange+3D+%232 */
        background: #fac695; /* Old browsers */
        background: -moz-linear-gradient(top,  #fac695 0%, #f5ab66 47%, #ef8d31 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 ); /* IE6-9 */


    }

    @mixin year-container-bkg() {
        background: #4c5a70;
        background: -moz-linear-gradient(top,black 0%, #c8c9cb 91%, #d4d4d4 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #4c5a70), color-stop(91%, #c8c9cb), color-stop(100%, #d4d4d4));
        background: -webkit-linear-gradient(top, black 0%, #c8c9cb 91%, #d4d4d4 100%);
        background: -o-linear-gradient(top, black 0%, #c8c9cb 91%, #d4d4d4 100%);
        background: -ms-linear-gradient(top, black 0%, #c8c9cb 91%, #d4d4d4 100%);
        background: linear-gradient(to bottom, black 0%, #c8c9cb 91%, #d4d4d4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c5a70', endColorstr='#d4d4d4', GradientType=0 );

    
    }

    @mixin today-bkg() {
        background: #feffff; /* Old browsers */
        background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
    }

    @mixin ends-bkg() {
        background: #e0ecc4; /* Old browsers */
        background: -moz-linear-gradient(top, #e0ecc4 0%, #bcd5ab 44%, #7fc97b 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #e0ecc4 0%,#bcd5ab 44%,#7fc97b 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #e0ecc4 0%,#bcd5ab 44%,#7fc97b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0ecc4', endColorstr='#7fc97b',GradientType=0 ); /* IE6-9 */

    }

body {
    /*font-family: "Arial", sans-serif;*/
    font-family: 'Asap', sans-serif;
    position: relative;
}

.main-container {
    display: flex;
    flex-direction: row;
}

#todays_date {
    background: #333;
    color: #fff;
    // margin-top: -8px;
    opacity: 0.8;
    padding: .2em 0.5em;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

#tabs {
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    margin-top: 2em;
    padding-left: 0;
    // position: absolute;
    // top: 3em;
    // left: 0;
    a {
        text-decoration: none;
        // transform: rotate(-90deg);
    }

    .tab {
        // border: 1px solid red;
        padding: 0.3em;
        &.active {
            color: #fff;
            background-color: #333;
        }
    }

    a, h3  {
        color: #637189;    
        // font-size: 1.5em;
        margin: 0;
        // background-color: black;
        padding-left: 1em;
        padding-top: .5em;
        // font-family: 'Frijole', cursive;
        font-family: 'Open Sans Condensed', sans-serif;
        /* turn */
        /*float: left;*/
        /*transform-origin: bottom right;*/
        /*transform: rotate(-90deg);*/
        &:hover {
            color: blue;
            background-color: #f2f2f2;
            text-decoration: underline;
        }
    }
}


/*.new-year {*/
h2 {
    // background: white;
    // // margin-top: -8px;
    // opacity: 0.8;
    // padding: .2em 0;
    // // position: fixed;
    // width: 100%;
    // z-index: 1;
}


#close_all {
    margin-left: 14em;
    margin-bottom: .5em;
}
.date {
    // border: 1px solid red;
    /*background-color: lightyellow;*/
    /*padding: .5em 0;*/
    /*align-items: center;*/
    /*box-shadow: 0px 3px 5px #333;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-grow: 1;*/
    /*margin: .4em;*/
    /*max-width: 31%;*/
    /*min-width: 20%;*/
    cursor: pointer;
    padding: .1em;
    /*position: relative;*/
    &.begin { 
        color: red !important;
        @include begin;
    }
    &.end { 
        // color: green; 
        @include ends-bkg;
        .event-title {
            color: #000;
        }
    }
    &.today { 
        /*background-color: #ffe6e6;*/
        color: blue;
    }
    &.continues { 
        color: #000;
        @include continues;
        .event-title {
            color: brown;
        }
    }
    &.opened {
        // background: #fff !important;
        border: 1px solid #333;
    }

}

.progress {
    // box-shadow: inset 0px 1px 3px 2px white;
}
.begins {
    /*border: 1px solid red;
    box-shadow: 1px 1px 1px pink;*/

    /*@include today();*/

    .progress {
        /*background-color: red;*/
        /*background-color: blue;*/
        img {
            width: 2em
        }
    }
}
.ends {
    /*border: 1px solid green;
    box-shadow: 1px 1px 1px green;*/

    /*@include ends-bcg();*/
    .progress {
        /*background-color: green;*/
        img {
            width: 2em
        }
    }
}


.continues, .end, .begin {
    /*border: 1px solid orange;
    box-shadow: 1px 1px 1px orange;*/
    
    /*@include continues();*/
    .progress {
        /*background-color: #8e4825;*/
        img {
            width: 2em;
        }

    }

}

.event-header {
    // border: 1px dashed green;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.today {
    /*border: 1px solid blue;*/
    /*box-shadow: 1px 1px 1px blue;*/
    
    /*@include today-bkg();*/

    .progress {
        /*background-color: blue;*/
        img {
            width: 2em
        }
    }

}
.past-year {
    font-size: 12px;
    font-weight: bold;
}

.year-container {
    /*background: #5b6b87;*/
    /*border-bottom: 1px solid gray;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*margin: 0 0 1em 0;*/
    padding: .3em;

    /*@include year-container-bkg();*/
    h3 {
        display: none;
    }
    border: 10px solid #ccc;

    
}
.event-title {
    /*margin-bottom: -3px;*/
    /*background-color: white;*/
    /*border: 1px solid black;*/
    /*box-shadow: 1px 1px 1px black;*/
    color: red;
    /*cursor: pointer;*/
    /*font-family: Arial Narrow, sans-serif;*/
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    opacity: .8;
    padding: 0 .1em;
    /*padding: 1px;*/
    /*text-align: center;*/
    // text-transform: uppercase;

    /*background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );*/
    a {
        text-decoration: none;
    }
}
/*.progress {
    color: blue;
    
    
    text-align: left;
*/
.progress {
    /*background-color: red;*/
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

}
.whathappened {

    /*top: 1.7em;*/
    /*background-color: #333;*/
    /*border: 3px solid gray;*/
    /*top: 100%;*/
    /*color: #fff;*/
    /*color: #333;*/
    /*display: none;*/
    font-size: 14px;
    display: flex;
    flex-direction: column;
    /*position: absolute;*/
    /*width: 90%;*/
    /*z-index: 1;*/
    // border: 3px solid #333;
    margin: 0.5em 0;

    &.hidden {
        display: none;
    }
    a {

        text-decoration: none;
        /*color: white;*/
        color: #222;
        margin-left: 1em;
    }
}
#todays-events {
    margin-top: 2em;
    width: 100%;
    /*display: flex;
    flex-wrap: wrap;*/
    /*background-color: #282c33;*/
    // padding: 2em 0px;

    /*background: rgba(51,51,51,1);
    background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(11,12,14,1) 0%, rgba(17,19,23,1) 9%, rgba(76,90,112,0.61) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,51,51,1)), color-stop(0%, rgba(11,12,14,1)), color-stop(9%, rgba(17,19,23,1)), color-stop(100%, rgba(76,90,112,0.61)));
    background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(11,12,14,1) 0%, rgba(17,19,23,1) 9%, rgba(76,90,112,0.61) 100%);
    background: -o-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(11,12,14,1) 0%, rgba(17,19,23,1) 9%, rgba(76,90,112,0.61) 100%);
    background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(11,12,14,1) 0%, rgba(17,19,23,1) 9%, rgba(76,90,112,0.61) 100%);
    background: linear-gradient(to right, rgba(51,51,51,1) 0%, rgba(11,12,14,1) 0%, rgba(17,19,23,1) 9%, rgba(76,90,112,0.61) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#4c5a70', GradientType=1 );*/
}

.result-word {
    color: red;
    font-weight: 700;
    text-transform: uppercase;
}

.progress, 
.past-year, 
.whathappened {
    padding: .1em .3em;
}

// ==================
// GEOGRAPHY
//===================
    .coa {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        /*border: 1px solid #ccc;*/
        display: inline-block;
        height: 2em;
        margin-right: 2px;
        width: 2em;
    }

// COUNTRIES
    .belarus { background-image: url(../img/belarus.png); }
    .canada {background-image: url(../img/canada.png); }
    .china { background-image: url(../img/china.png); }
    .iran { background-image: url(../img/iran.png); }

    .japan { background-image: url(../img/japan.png); }
    .estonia { background-image: url(../img/estonia.png); }
    .finland { background-image: url(../img/finland.png); }
    .germany { background-image: url(../img/germany.png); }
    .russia { background-image: url(../img/russia.png); }
    .uk { background-image: url(../img/uk.png); }
    .ukraine { background-image: url(../img/ukraine.png); }
    .usa {background-image: url(../img/usa.png); }

    
    //.m { background-image: url(../img/m.png); }
    //.m { background-image: url(../img/m.png); }


    .l-, .p- {  display: none;}



// PROVINCES
    //.p-m { background-image: url(../img/p-m.png); }
    //.p-m { background-image: url(../img/p-m.png); }
    .p-arkhangelsk{ background-image: url(../img/p-arkhangelsk.png);}
    .p-cherkassy{ background-image: url(../img/p-cherkassy.png);}
    .p-chernigov { background-image: url(../img/p-chernigov.png); }
    .p-crimea{ background-image: url(../img/p-crimea.png);}
    .p-dnepropetrovsk{ background-image: url(../img/p-dnepropetrovsk.png);}
    .p-gomel{ background-image: url(../img/p-gomel.png);}
    .p-herson{ background-image: url(../img/p-herson.png);}
    .p-karelia{ background-image: url(../img/p-karelia.png);}
    .p-kiev{ background-image: url(../img/p-kiev.png);}
    .p-krasnodar{ background-image: url(../img/p-krasnodar.png);} 
    .p-laanemaa{ background-image: url(../img/p-laanemaa.png);} 
    .p-leningrad{ background-image: url(../img/p-leningrad.png);}
    .p-lvov { background-image: url(../img/p-lvov.png); }
    .p-manchuria { background-image: url(../img/p-manchuria.png); }
    .p-mogilyov { background-image: url(../img/p-mogilyov.png); }
    .p-moscow { background-image: url(../img/p-moscow.png); }
    .p-murmansk { background-image: url(../img/p-murmansk.png); }
    .p-nikolayev{ background-image: url(../img/p-nikolayev.png);}
    .p-nl{ background-image: url(../img/p-nl.png);}
    .p-novgorod { background-image: url(../img/p-novgorod.png); }
    .p-novgorod{ background-image: url(../img/p-novgorod.png);}
    .p-odessa{ background-image: url(../img/p-odessa.png);}
    .p-orel { background-image: url(../img/p-orel.png); }
    .p-poltava { background-image: url(../img/p-poltava.png); }
    .p-rostov { background-image: url(../img/p-rostov.png); }
    .p-smolensk{ background-image: url(../img/p-smolensk.png);}
    .p-sumy{ background-image: url(../img/p-sumy.png);}
    .p-vitebsk{ background-image: url(../img/p-vitebsk.png);}
    .p-zhitomir { background-image: url(../img/p-zhitomir.png); }
    .p-zaporozhye{ background-image: url(../img/p-zaporozhye.png);}





// LOCALITIES
    //.m { background-image: url(../img/m.png); }
    //.m { background-image: url(../img/m.png); }


    .l-arkhangelsk{ background-image: url(../img/l-arkhangelsk.png);}
    .l-berlin { background-image: url(../img/l-berlin.png); }
    .l-chernigov { background-image: url(../img/l-chernigov.png); }
    .l-dnepropetrovsk{ background-image: url(../img/l-dnepropetrovsk.png);}
    .l-gatchina { background-image: url(../img/l-gatchina.png); }
    .l-gomel { background-image: url(../img/l-gomel.png); }
    .l-herson { background-image: url(../img/l-herson.png); }
    .l-kahovka { background-image: url(../img/l-kahovka.png); }
    .l-khorol { background-image: url(../img/l-khorol.png); }
    .l-kingisepp { background-image: url(../img/l-kingisepp.png); }
    .l-kolpino { background-image: url(../img/l-kolpino.png); }
    .l-krasnodar { background-image: url(../img/l-krasnodar.png); }
    .l-kremenchuk { background-image: url(../img/l-kremenchuk.png); }
    .l-krivoy-rog { background-image: url(../img/l-krivoy-rog.png); }
    .l-krasnoe_selo { background-image: url(../img/l-krasnoe_selo.jpg); } // <===    
    .l-leningrad { background-image: url(../img/l-leningrad.png); }
    .l-lohvitsa { background-image: url(../img/l-lohvitsa.png); }
    .l-lomonosov { background-image: url(../img/l-lomonosov.gif); } // GIF
    .l-london { background-image: url(../img/l-london.png); } // GIF
    .l-lvov { background-image: url(../img/l-lvov.jpg); } // JPG
    .l-mogilyov { background-image: url(../img/l-mogilyov.png); }
    .l-moscow { background-image: url(../img/l-moscow.png); }
    .l-murmansk { background-image: url(../img/l-murmansk.png); }
    .l-narva { background-image: url(../img/l-narva.png); }
    .l-nikolayev { background-image: url(../img/l-nikolayev.png); }
    .l-ochakov { background-image: url(../img/l-ochakov.png); }
    .l-odessa { background-image: url(../img/l-odessa.png); }
    .l-orel { background-image: url(../img/l-orel.jpg); }// JPG
    .l-orsha { background-image: url(../img/l-orsha.png); }
    .l-pochep { background-image: url(../img/l-pochep.jpg); } // JPG
    .l-petersburg { background-image: url(../img/l-petersburg.png); }
    .l-poltava { background-image: url(../img/l-poltava.png); }
    .l-pushkin { background-image: url(../img/l-pushkin.jpg); } // <----

    .l-romny { background-image: url(../img/l-romny.png); }//
    .l-rostov-on-don { background-image: url(../img/l-rostov-on-don.png); }
    .l-shlisselburg { background-image: url(../img/l-shlisselburg.png); }
    .l-sochi { background-image: url(../img/l-sochi.png); }
    .l-tokyo { background-image: url(../img/l-tokyo.png); }
    .l-tosno { background-image: url(../img/l-tosno.gif); } // GIF
    .l-v-novgorod { background-image: url(../img/l-v-novgorod.png); }
    .l-vyborg { background-image: url(../img/l-vyborg.png); }
    .l-yelnya { background-image: url(../img/l-yelnya.jpg); }// JPG
    .l-zaporozhye { background-image: url(../img/l-zaporozhye.png); }
    .l-zhitomir { background-image: url(../img/l-zhitomir.png); }



